doctype html
html
  head
    script(src='../static/addtocartformvalidate.js')  
    title OnMart
    link(rel='stylesheet', type='text/css', href='../static/owner.css')
    block style
  body
    div#maindiv 
        div#seconddiv 
            div#formdiv 
                p Add Image to items
                form(name="addtocartformvalidate",action="../auth/store_image",onsubmit='return validform()',method="POST",enctype="multipart/form-data")
                  input(type="text",id="product_name",name="product_name",placeholder="Product Name")
                  br
                  input(type="file",id="product_image",name="image",placeholder="image")
                  br
                  if alertMsg
                    p=alertMsg
                  button(type="sumnit") Add